*bin/
*obj/
*node_modules/
.idea
/cloudfront-log-forwarder/bin/
/cloudfront-log-forwarder/obj/
/cloudfront-log-forwarder/node_modules/
/cloudfront-log-forwarder/src/bin/
/cloudfront-log-forwarder/src/obj/
.vscode
monitoring.sln
dist
